html,
body {
  margin: 0;
  padding: 0;
}

.dropbtn {
  width: 100%;
  background-color: #8b5cf6;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  width: 100%;
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: #f5f3ff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #a78bfa;
  transition-duration: 200ms;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .dropdown-content a {
    background-color: #0ea5e9;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .dropdown-content a {
    background-color: #ec4899;
  }
}

@media screen and (min-width: 1025px) {
  .dropdown-content a {
    background-color: #a855f7;
  }
}

/* =================================================================================================================================================== */

.container img {
  width: 400px;
  height: 200px;
  padding: 5px;
}

@media (min-width: 600px) {
  .container img {
    width: 200px;
    height: 100px;
  }
}

@media (min-width: 900px) {
  .container img {
    width: 400px;
    height: 200px;
  }
}

/* =================================================================================================================================================== */

.sprite {
  background-image: url("./sprites.jpg");
  background-repeat: no-repeat;
  height: 98px;
  width: 100px;
  display: inline-block;
  margin-right: 10px;
}

.facebook {
  background-position: left top;
}

.twitter {
  background-position: -100px top;
}

.youtube {
  background-position: -200px top;
}

/* =================================================================================================================================================== */
